@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-a: #001d62;
  --color-b: #f9fafb;
  --color-c: #e3e8ef;
}
html {
  scroll-behavior: smooth;
}

$deep-primary-blue: #001d62;

.bg-primary-blue {
  background-color: $deep-primary-blue;
}

.mobile_nav_open {
  height: 100% !important;
  overflow: auto;
  padding-top: 80px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

// STYLES FOR RESPONSIVE NAV

// END  STYLES FOR RESPONSIVE NAV

#nav {
  .new-badge {
    color: #027a48;
    font-weight: 600;
    margin-left: 0.5em;
    background-color: #ecfdf3;
    border-radius: 1em;
    padding: 0.125em 0.5em;
  }
}

/* header section */

header {
  background-color: var(--color-a);
}

header .navbar .navContent1 {
  display: flex;
  align-items: center;
}

header .navbar .nav-menu li span {
  color: #027a48;
  font-weight: 600;
  margin-left: 0.5em;
  background-color: #ecfdf3;
  border-radius: 1em;
  padding: 0.125em 0.5em;
}

/* Header content Info */

.contentInfo {
  padding: 7.5em 8em;
  color: white;
}

.contentInfo .contentInfoText h2 {
  font-size: 4.5em;
  font-weight: 600;
  padding-right: 3em;
}

.contentInfo .contentInfoText p {
  font-size: 2em;
  font-weight: 400;
  padding-right: 5em;
  margin-top: 0.5em;
  line-height: 1.5em;
}

.contentInfo .contentInfoVideo {
  margin-top: 4em;
  cursor: pointer;
}

/* MAIN SECTION */

.ourWorksSection {
  h2 {
    color: $deep-primary-blue;
  }
}

/* CORE SERVICES */

main .service {
  padding: 1.5em;
  border: 1px solid var(--color-c);
  img {
    margin-bottom: 10px;
  }
  h2 {
    color: #001d62;
    font-size: 1.25em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-weight: 600;
  }
  p {
    font-size: 0.875em;
    color: #001d62;
    font-weight: 400;
  }
}

/* ABOUT US */

.aboutUS .aboutContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutUS h2 {
  color: #001d62;
}

.aboutUS p {
  color: #001d62;
}

.workImg {
  width: 100%;
  position: relative;
  height: 350px;
}

/* footer */

footer .contactUs .conContainer {
  border-bottom: 1px solid #475467;
}

footer .contactUs h2 {
  color: #9aa4b2;
}

footer .contactUs p {
  color: #9aa4b2;
  line-height: 1.5em;
}

#ourWorks img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-width: 1px;
  border-radius: 6px;
  transition: ease-in 0.3s;
}

#ourWorks img:hover {
  box-shadow: 0px 0px 9px 5px rgba(125, 124, 124, 0.43);
  -webkit-box-shadow: 0px 0px 9px 5px rgba(125, 124, 124, 0.43);
  -moz-box-shadow: 0px 0px 9px 5px rgba(125, 124, 124, 0.43);
  transform: scale(1.05);
}

// REACT YOUTUBE PLAYER
.youtube_container {
}

.videoRatio {
  overflow: hidden;
  padding: 56.25% 0 0 0;
  position: relative;
  width: 100%;
}

.videoInner {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  border: solid 1px #f9f9fa34;
  background-color: black;
}

.thumbnailButton {
  background-color: transparent;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.thumbnailImage {
  width: 100%;
}

.playIcon {
  height: 42px;
  left: calc(50% - 30px);
  position: absolute;
  top: calc(50% - 21px);
  transition: all 0.3s ease-in-out;
  width: 60px;
}
