@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-a: #001d62;
  --color-b: #f9fafb;
  --color-c: #e3e8ef;
}
html {
  scroll-behavior: smooth;
}

$deep-primary-blue: #001d62;

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

// STYLES FOR RESPONSIVE NAV

.nav {
  .hamburger-menu {
    width: 22px;
    height: 16px;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: 15px;
    margin: 20px;
    span {
      display: block;
      margin-bottom: 5px;
      width: 100%;
      height: 2px;
      border-radius: 99px;
      background: #fff;
      transition: 0.3s ease;
      transform-origin: left;
    }
  }
}

.hamburger-menu-active {
  ul {
    background: white !important;
    flex-direction: column !important;
    position: absolute !important;
    width: 100%;
    left: 0;
    right: 0;
    top: 90px;
    a {
      color: $deep-primary-blue !important;
    }
  }
}

// END  STYLES FOR RESPONSIVE NAV

/* header section */

header {
  background-color: var(--color-a);
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

header .navbar .navContent1 {
  display: flex;
  align-items: center;
}

header .navContent1 .logo {
  display: flex;
}

header .navbar .nav-menu {
  margin-left: 2.75em;
}

header .navbar .nav-menu ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

header .navbar .nav-menu li {
  list-style: none;
  padding: 3em;
}

header .navbar .nav-menu li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

header .navbar .nav-menu li span {
  color: #027a48;
  font-weight: 600;
  margin-left: 0.5em;
  background-color: #ecfdf3;
  border-radius: 1em;
  padding: 0.125em 0.5em;
}

.talkToUsBtn {
  color: black;
  border-radius: 62.5em;
  font-weight: 500;
  background-color: white;
  padding: 0.625em 1.5em;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

/* Header content Info */

.contentInfo {
  padding: 7.5em 8em;
  color: white;
}

.contentInfo .contentInfoText h2 {
  font-size: 4.5em;
  font-weight: 600;
  padding-right: 3em;
}

.contentInfo .contentInfoText p {
  font-size: 2em;
  font-weight: 400;
  padding-right: 5em;
  margin-top: 0.5em;
  line-height: 1.5em;
}

.contentInfo .contentInfoVideo {
  margin-top: 4em;
  cursor: pointer;
}

/* MAIN SECTION */

.ourWorksSection {
  h2 {
    color: $deep-primary-blue;
  }
}

/* CORE SERVICES */

main .service {
  padding: 1.5em;
  border: 1px solid var(--color-c);
  img {
    margin-bottom: 10px;
  }
  h2 {
    color: #001d62;
    font-size: 1.25em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-weight: 600;
  }
  p {
    font-size: 0.875em;
    color: #001d62;
    font-weight: 400;
  }
}

/* ABOUT US */

.aboutUS .aboutContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutUS h2 {
  color: #001d62;
}

.aboutUS p {
  color: #001d62;
}

/* footer */

footer .contactUs .conContainer {
  border-bottom: 1px solid #475467;
}

footer .contactUs h2 {
  color: #9aa4b2;
}

footer .contactUs p {
  color: #9aa4b2;
  line-height: 1.5em;
}
