* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
  :root {
    --color-a: #001d62;
    --color-b: #efefef;
    --color-c: #c5c5c5;
    --sample: #eeeeeeba;
  }
  
  body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  #image-section img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  
  #card-section img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border: 1px solid rgba(123, 123, 123, 0.263);
  }
  
  #ourWorks img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-width: 1px;
    border-radius: 6px;
    transition: ease-in 0.3s;
  }
  
  #ourWorks img:hover {
    box-shadow: 0px 0px 9px 5px rgba(125, 124, 124, 0.43);
    -webkit-box-shadow: 0px 0px 9px 5px rgba(125, 124, 124, 0.43);
    -moz-box-shadow: 0px 0px 9px 5px rgba(125, 124, 124, 0.43);
    transform: scale(1.05);
  }
  